@import url(./style.css);

.receita-header {
  background: url(../images/thumbnail.PNG) center/cover no-repeat;
  height: 600px; /* Altura do header */
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.header-title {
  justify-content: end;
  text-align: start;
  position: relative;
  z-index: 2;
  max-width: 600px;
  gap: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.header-title h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.header-title p {
  font-size: 1.2rem;
}


/* Configurações do main */
.receita-main {
  margin: 32px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.receita {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.back-btn {
  color: var(--bg3);
  font-weight: 600;
}

.receita-card-detail {
  width: 800px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  background: var(--text1);
  padding: 14px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.receita-info {
  padding: 0 0 16px 0;
  margin-bottom: 16px;
  border-bottom: solid 1px #000;
}
.info-data {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info-data .fa-solid, .fa-regular{
  font-size: 18px;
  color: var(--bg3);
}
.info-title{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.info-title p {
  font-size: 14px;
  opacity: 0.7;
}

.seletor {
  display: flex;
  width: 100%;
  border-radius: 7px;
  background: var(--bg-alt);
  padding: 4px;
}
.btn {
  display: flex;
  justify-content: center;
  width: 33.3%;
  border-radius: 5px;
  padding: 12px 0;
  background: none;
  font-size: 16px;
  font-weight: 600;
}.btn:hover {
  background: var(--text1);
}

.receita-content {
  margin: 10px 20px ;
}
.receita-content ul{  
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
.ingredientes li .li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: var(--bg2);
}
.preparo li .li{
  border-radius: 200px;
  padding: 5px;
  text-align: center;
  background: var(--bg2);
  font-size: 14px;
  color: var(--bg-alt);  
}

.nutri-table {
  width: 400px;
  height: fit-content ;
  text-align: start;
  border-radius: 10px;
  background: var(--text1);
  padding: 16px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.nutri-table h2 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: start;
}
.nutri-content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  margin-bottom: 12px;
  border-bottom: solid 1px #0000003a;
}
.nutri-content:last-child {
  border: none;
  padding: 0;
}