* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --bg1: #fffbeb;
  --bg-alt: #dbdbdb;
  --bg2: #e1760a;
  --bg3: #92400e;
  --text1: #FFF;
  --text2: #080808;
  --text3: #f7b708;
}
body {
  background: var(--bg1);
}

a {
  text-decoration: none;
}
h2 {
  color: var(--bg3);
}
/* configurações do header */
.header {
  padding: 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background: var(--bg2);
  color: var(--text1);
}

.header h1 {
  font-weight: 700;
  font-size: 36px;
}
.header p {
  font-weight: 500;
  font-size: 18px;
}
.header-btns {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

/* Configuração global dos botões */
.btn {
  background: var(--bg1);
  padding: 8px 16px;
  text-decoration: none;
  color: var(--text2);
  transition: 0.3s;
} .btn:hover {
  background: var(--bg-alt);
  border-radius: 5px;
}

/* Configuração do footer */
footer {
  background: var(--bg3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0;
  color: var(--text3);
}

.footer-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-title h2 {
  color: var(--text1);
  font-size: 24px;
}
.footer-title p{
  font-weight: 600;
}

.footer-links {
  display: flex;
  gap: 12px;
}
.footer-links a {
  color: var(--text1);
  font-size: 16px;
  font-weight: 500px;
  transition: 0.3s;
} .footer-links a:hover {
  opacity: 0.5;
}

/* Configurações do main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
.main h2 {
  margin-bottom: 28px;
}

.receitas-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  margin: 0 0 32px 0;
}

/* Configuração dos cards de receitas */
.receita-card {
  width: 400px;
  background: var(--text1);
  border-radius: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  color: var(--text2);
  transition: 0.3s;
}.receita-card:hover {
  transform: translateY(10px);
}
.receita-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}
.receita-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.receita-card h3 {
  font-size: 20px;
  color: var(--bg3);
}
.receita-info {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}